// colors
$blueColor:#0fa0c5;
$darkblue:#537bbd;
$lightblue:#deecf6;
$orangeColor:#f9a55f;
$whiteColor:white;
// src images
$listenImg:"../assets/images/audio_icon.png";
$closeIcon:"../assets/images/close_icon.png";
$backIcon:"../assets/images/popupBack.png";
$nextIcon:"../assets/images/popupNext.png";
$soundIcon:"../assets/images/popupAudioIcon.png";
$reload:"../assets/images/replay_icon.png";
$bgAudio:"../assets/images/draggerBG.png";
$play:"../assets/images/play.png";
$timeline:"../assets/images/timeline.png";
$pause:"../assets/images/pause.png"
